@import 'variables';

.card-container {
    display: flex;
}

.card-course-item {
    flex: 1;
    margin-top: 16px;
    min-height: 260px;
}

.card-text {
    min-height: 96px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.stored-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stored-header a[href='/courses/create'] {
    margin-left: auto;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}
